<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<#include "func.ftl">
<mapper namespace="${tpl@mapper.packageName}.${className}Mapper">
    <resultMap id="${className}Map" type="${tpl@entity.packageName}.${className}">
<@resultMapList/>
    </resultMap>
    <sql id="Base_Column_List">
<@columnList/>
    </sql>

    <select id="countByExample" parameterType="${example}" resultType="java.lang.Integer">
        select count(1) from ${table.tableName}
        <if test="_parameter != null">
            <include refid="common.Example_Where_Clause" />
        </if>
    </select>

    <delete id="deleteByExample" parameterType="${example}">
        delete from ${table.tableName}
        <if test="_parameter != null" >
            <include refid="common.Example_Where_Clause" />
        </if>
    </delete>

<#if table.pkCount == 1 >
    <delete id="deleteByPrimaryKey" parameterType="<@pkType/>" >
        delete from ${table.tableName}
        where <@pkCondition/>
    </delete>
</#if>


    <insert id="insert" parameterType="${tpl@entity.packageName}.${className}">
        insert into ${table.tableName} (
<@columnList/>
        ) values (
<@columnParamList/>
        )
    </insert>

    <insert id="insertSelective" parameterType="${tpl@entity.packageName}.${className}">
        insert into ${table.tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <@testColumnList/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
           <@testColumnParameList/>
        </trim>
    </insert>


    <update id="updateByExample" parameterType="map">
        update ${table.tableName}
        set
<@updateColumnListWithMap/>
        <if test="_parameter != null">
            <include refid="common.Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExampleSelective" parameterType="map">
        update ${table.tableName}
        <set>
<@testUpdateColumnListWithMap/>
        </set>
        <if test="_parameter != null">
            <include refid="common.Update_By_Example_Where_Clause" />
        </if>
    </update>

<#if table.pkCount == 1 >
    <update id="updateByPrimaryKey" parameterType="${tpl@entity.packageName}.${className}">
        update ${table.tableName}
        set
<@updateColumnList/>
        where <@pkCondition/>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="${tpl@entity.packageName}.${className}">
        update ${table.tableName}
        <set>
<@testUpdateColumnList/>
        </set>
        where <@pkCondition/>
    </update>

</#if>

    <select id="selectByExample" resultMap="${className}Map" parameterType="${example}">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from ${table.tableName}
        <if test="_parameter != null" >
            <include refid="common.Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${r'${orderByClause}'}
        </if>
    </select>

<#if table.pkCount == 1 >
    <select id="selectByPrimaryKey" resultMap="${className}Map" parameterType="<@pkType/>">
        select
        <include refid="Base_Column_List" />
        from ${table.tableName}
        where <@pkCondition/>
    </select>
</#if>

</mapper>